* {
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
    font-weight: lighter;
}

body {
    background-color: #ecf0f1;
}

#main {
    position: relative;
    margin: 0 auto;
}

.box {
    padding: 15px 0 0 15px;
    float: left;
}

.pic {
    background: #FFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 7px #ccc;
}

.pic img {
	margin: 10px;
    width: 300px;
    height: auto;
}

.pic img:hover {
	margin: 3px 17px 17px 3px;
	box-shadow: 5px 5px 10px #aaa;
}